.cloud{
    color:aqua;
}
h1{
    height:40px;
    padding-left: 15px;
    background-color:black;
    text-align:left;
    font-family: sans-serif;
}
.my{
    color:white;
}
h2{
    padding:5px;
    color:white;
    font-family: serif;
    background-color:blueviolet;
    text-align:center;
    font-weight: 500;
    font-style: italic;
}
h3{
    font-weight: 200;
    font-family: monospace;
    padding: 5px 15px;
    text-decoration: underline;
    background-color:#6495ED;
    text-align:right;
}
