.header{
    text-align: center;
    font-size: 50px;
}
img{
    height:200px;
}
.firstRow{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:lightskyblue;
    padding:20px;
    margin: 20px auto;
}
.secondRow{
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color:lightpink;
    padding:20px;
    margin: 20px auto;
}
.thirdRow{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    padding:20px;
    margin: 20px auto;
}

html{
    background-color: #d3d2d2;
}
.footer{
    text-align: center;
    font-size: 20px;
}
/* .footer a{
    color: lightblue;
} */