<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dojo.css') }}">
    <title>Dojo Show</title>
</head>
<body id ="show_dojo">
    <h1>{{dojo.name}}</h1>
    <table id = "ninjasOfDojo">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </thead>
        <tbody>
        {% for ninja in dojo.ninjas %}
            <tr>
                {% if ninja.id == None %}
                    <td></td>
                    <td>No ninja in {{dojo.name}}</td>
                    <td></td>
                {% else %}
                    <td>{{ ninja.first_name }}</td>
                    <td>{{ ninja.last_name }}</td>
                    <td>{{ ninja.age }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="homeButton" href="/dojos">Home</a>
</body>
</html>