
/* .border{
    height:500px;
    width:700px;
    border: 1px solid black;
}
.circle{
    background-color:red;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin:100px 200px;
} */
.blue{
    height:350px;
    width:430px;
    background-color:blue;
    position:fixed;
}
.border{
    height:650px;
    width:1000px; 
    border: 1px solid black;
}
.red{
    height:50px;
    width:inherit;
    background-color:red;
}
.white{
    height:50px;
    width:inherit;
    background-color:white;
}
