<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    <title>Document</title>
</head>
<body>
    <div class = "main input">
        <form action='/increment' class = "form" method='post'>
            <label>Input Number of Player(max 4):</label><br>
            <input type="number" id="num_player" name="num_player" value="2" oninput="playerChange()"><br>
            <button>Submit</button>
        </form>

        <p id="demo"></p>
        <p id="demo2"></p>
    </div>
</body>
</html>