<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <title>Counter</title>
</head>
<body>
    <div style="margin:100px 10%">
        <h1 style="text-align:center"> Counter </h1>
        <h3 style="text-align:center">{{count}} times</h3>
        <div style="text-align:center"">
            <a href= '/2' class="button red">Add two visits</a>
            <a href= '/r' class="button green">Reset</a>
        </div>
        <form action='/increment' class = "form" method='post'>
            <label>Increment you'd like: </label>
            <input type="text" name="increment">
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>