<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous'>
</head>
<body>
    <div class="container p-3">
        <h1 class="text-center">Login and Registration</h1>
        {% with messages = get_flashed_messages(category_filter=["welcome"]) %}
            <p class ="text-center red_alert normal_margin" >{{ messages[0] }}</p>
        {% endwith %}
        <div class="container p-5 border border-dark d-flex justify-content-between col-10">
        <div class="register-form">
            <h3>Register Here!</h3>
            <form action="/register" method="post">
            <p>First Name:</p>
            {% with messages = get_flashed_messages(category_filter=["first_name"]) %}
                <p class ="red_alert" >{{ messages[0] }}</p>
            {% endwith %}
            <p><input type="text" name="first_name" id="longerInputBox"></p>
            
            
            <p>Last Name:</p>
            {% with messages = get_flashed_messages(category_filter=["last_name"]) %}
            <p class ="red_alert" >{{ messages[0] }}</p>
            {% endwith %}
            <p><input type="text" name="last_name" id="longerInputBox"></p>
            
            <p>Email:</p>
            {% with messages = get_flashed_messages(category_filter=["email"]) %}
            <p class ="red_alert" >{{ messages[0] }}</p>
            {% endwith %}
            <p><input type="text" name="email" id="longerInputBox"></p>
            
            <p style="margin:0">Password:</p>
            {% with messages = get_flashed_messages(category_filter=["password"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class ="red_alert normal_margin" >{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p><input type="password" name="password" id="longerInputBox"></p>

            <p>Confirm Password:</p>
            {% with messages = get_flashed_messages(category_filter=["confirm_password"]) %}
            <p class ="red_alert" >{{ messages[0] }}</p>
            {% endwith %}
            <p><input type="password" name="confirm_password" id="longerInputBox"></p>

            <p>Birthday:</p>
            {% with messages = get_flashed_messages(category_filter=["birthday"]) %}
            <p class ="red_alert" >{{ messages[0] }}</p>
            {% endwith %}
            <p><input type="date" name="birthday" id=""></p>
            <p>
                Gender:&emsp;
                <input type="radio" name="gender" value="Male" id="">
                &#9794; Male &emsp;
                <input type="radio" name="gender" value="Female" id="">
                &#9792; Female
            </p>
            {% with messages = get_flashed_messages(category_filter=["gender"]) %}
            <p class ="red_alert" >{{ messages[0] }}</p>
            {% endwith %}

            <button style="margin-top:30px" class='btn btn-success'>Register</button>
            </form>
        </div>
        <div class="login-form">
            <h3>Login Here!</h3>
            {% with messages = get_flashed_messages(category_filter=["login"]) %}
            <p class ="red_alert normal_margin" >{{ messages[0] }}</p>
            {% endwith %}
            <form action="/login" method="post">
            <p>
                Email:
                <input type="text" name="email" id="">
            </p>
            <p>
                Password:
                <input type="password" name="password" id="">
            </p>
            <button  class='btn btn-success'>Login</button>
            </form>
        </div>
        </div>
        <!-- <div class="errors d-flex flex-column align-items-center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{ message }}</p>
            {% endfor %}
            {% endif %}
        {% endwith %}
        </div> -->
    </div>
</body>
</html>