<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <title>Dojo Survey Index</title>
</head>
<body>
    <div class="container">
        
        <form action='/process' class = "form" method='post'>
            <div class = "flex-container">
                <label>Your Name:</label>
                <input class="flexTwo" type="text" name="name">
            </div>
            <div class = "flex-container">
                <label>Dojo Location:</label>
                <select class="flexTwo"name='location'>
                    <option value='San Jose'>San Jose</option>
                    <option value='San Francisco'>San Francisco</option>
                    <option value='Seattle'>Seattle</option>
                    <option value='San Diego'>San Diego</option>
                    <option value='Los Angeles'>Los Angeles</option>
                </select>
            </div>
            <div class = "flex-container">
                <label>Favorite Language:</label>
                <select class="flexTwo" name='language'>
                    <option value='Python'>Python</option>
                    <option value='C++'>C++</option>
                    <option value='Java'>Java</option>
                    <option value='Javascript'>Javascript</option>
                    <option value='Go'>Go</option>
                </select>
            </div>
            <div class = "flex-container flexColumn">
                <label style="margin-bottom:10px">Comment(Optional):</label>
                <textarea rows=5" cols="20" name="comment" wrap="hard"></textarea>
            </div>
            <div style="text-align:right">
                <input class = "greenButton" type="submit" value="Submit">
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    
</body>
</html>