html{

    font-family: 'Roboto', sans-serif;
}
li{
    display: flex;
    font-weight: 200;
    font-size: 13px;
    margin: 0 20px;
}
.active{
    font-weight: 500;
}
.nav-links a{
    text-decoration: none;
    margin-top:4px;
    color:white!important;
    margin-left: 10px;
}
.nav-title{
    font-size:25px;
    margin:0;
    font-weight:600;
}
.nav{
    color:white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 5%;
    justify-content:flex-start;
    background-color: black;
}
.nav-links{
    display: flex;
    align-items: center;
}

.btn{
    position: absolute;
    right:10%;
    background-color:#17a2b8;
    color:white;
    padding: 5px 10px;
    box-shadow: 3px 3px 5px 1px black;
    cursor: pointer;
}

/* userCard starts*/
.cardContainer{
    width:500px;
    min-height:350px;
    background: linear-gradient(to bottom, #17a2b8 23%, white 23%);
    border: 2px solid lightgray;
    border-radius: 8px;
}
#profilePic{
    border: 5px solid lightgray;
    border-radius: 50%;
    margin: 40px 0 0 30px;
}
.cardContainer h1{
    margin: 5px 0 0 30px;
    font-size: 32px;
    font-weight: 500;
}
.cardContainer h2{
    margin: 15px 0 0 30px;
    font-size: 16px;
    font-weight: 400;
}
#mapMarker{
    margin-right: 5px;
}  
#gear{
    margin-right: 5px;
} 
.jobsEducation{
    margin: 15px 0 0 30px;
}
.jobsEducation p{
    margin:5px 0;
}
.cardContainer h3{
    margin: 15px 0 0 30px;
    font-size: 15px;
    font-weight: 400;
}
/* userCard Ends */
.bodyArea{
    margin-top:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding:0 8%;
}
.educationBoard{
    margin-top: 30px;
    width:500px;
    height:300px;
    border: 2px solid lightgray;
    border-radius: 8px;
    background: linear-gradient(to bottom, #333333 20%, white 20%);
}

.connections{
    margin-top: -150px;
    background: linear-gradient(to bottom, #333333 20%, white 20%);
    border: 2px solid lightgray;
    border-radius: 8px;
    height:300px;
    width:200px;
}

/* request Container starts */
.requests{
    /* background: linear-gradient(to bottom, #333333 50px, white 50px); */
    border: 2px solid lightgray;
    border-radius: 8px;
    width:200px;
    height:175px;
}
.topRequest{
    display:flex;
    justify-content:center;
    height:45px;
    color: white;
    background-color: #333333;
    padding: 1px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.topRequest p{
    font-size: 14px;
}
#circleTwo{ 
    margin-right: 5px;
    color:black;
    padding: 3px 7px;
    border-radius: 50%;
    background-color:#9e9e9e;
}
.bottomRequest{
    display: flex;
    padding:0 10px;
    justify-content:space-between;
}

/* request container ends */