<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>One Dog</h1>
  <p>{{ dog.id }}</p>
  <p>{{ dog.name }}</p>
  <p>{{ dog.age }}</p>
  <p>{{ dog.hair_color }}</p>
  <p>{{ dog.created_at }}</p>
  <p>{{ dog.updated_at }}</p>
  <a href="/">Go Back</a>
  <a href="/dogs/{{ dog.id }}/edit">Edit</a>
  <a href="/dogs/{{ dog.id }}/delete">Delete</a>
</body>
</html>