<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Dog</title>
</head>
<body>
  <h1>Update a Dog!</h1>
  <form action="/dogs/{{ dog.id }}/update" method="post">
    <!-- <input type="hidden" name="id" value="{{ id }}"> -->
    <p>
      Name:
      <input type="tel" name="name" id="" value="{{ dog.name }}">
    </p>
    <p>
      Age:
      <input type="number" name="age" id="" value="{{ dog.age }}">
    </p>
    <p>
      Hair Color:
      <input type="tel" name="hair_color" id="" value="{{ dog.hair_color }}">
    </p>
    <button>Update a Dog!</button>
  </form>
  <a href="/">Go Back</a>
</body>
</html>