<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Make a New Dog!</h1>
  <form action="/dogs/create" method="post">
    <p>
      Name:
      <input type="tel" name="name" id="">
    </p>
    <p>
      Age:
      <input type="number" name="age" id="">
    </p>
    <p>
      Hair Color:
      <input type="tel" name="hair_color" id="">
    </p>
    <button>Create a Dog!</button>
  </form>
  <a href="/">Go Back</a>
</body>
</html>