html{

    font-family: 'Roboto', sans-serif;
}
li{
    display: flex;
    font-weight: 200;
    font-size: 13px;
    margin: 0 20px;
}
.active{
    font-weight: 500;
}
.nav-links a{
    text-decoration: none;
    margin-top:4px;
    color:white!important;
    margin-left: 10px;
}
.nav-title{
    font-size:25px;
    margin:0;
    font-weight:600;
}
.nav{
    color:white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 5%;
    justify-content:flex-start;
    background-color: black;
}
.nav-links{
    display: flex;
    align-items: center;
}

.btn{
    position: absolute;
    right:10%;
    background-color:#17a2b8;
    color:white;
    padding: 5px 10px;
    box-shadow: 3px 3px 5px 1px black;
    cursor: pointer;
}

.leftColumn{
    flex:2;
    margin-right: 20px;
}
.rightColumn{
    flex:1;
    margin-left: 20px;
}

/* userCard starts*/
.cardContainer{
    width:450px;
    min-height:350px;
    background: linear-gradient(to bottom, #17a2b8 23%, white 23%);
    border: 2px solid lightgray;
    border-radius: 8px;
}
#profilePic{
    border: 5px solid lightgray;
    border-radius: 50%;
    margin: 40px 0 0 30px;
}
.cardContainer h1{
    margin: 5px 0 0 30px;
    font-size: 32px;
    font-weight: 500;
}
.cardContainer h2{
    margin: 15px 0 0 30px;
    font-size: 16px;
    font-weight: 400;
}
#mapMarker{
    margin-right: 5px;
}  
#gear{
    margin-right: 5px;
} 
.jobsEducation{
    margin: 15px 0 0 30px;
}
.jobsEducation p{
    margin:5px 0;
}
.cardContainer h3{
    margin: 15px 0 0 30px;
    font-size: 15px;
    font-weight: 400;
}
/* userCard Ends */
.bodyArea{
    margin-top:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding:0 8%;
}
/* education Container starts */
.educationBoard{
    margin-top: 30px;
    width:450px;
    height:250px;
    border: 2px solid lightgray;
    border-radius: 8px;
}
.topEducation{
    display:flex;
    height:45px;
    background-color: #333333;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.topEducation p{
    color: white;
    padding: 0 20px;
    font-size: 16px;
}
.bottomEducation{
    margin: 5px 0 0 30px;
}
.bottomEducation h3{
    font-weight:600;
}
.bottomEducation h4{
    color: rgb(175, 173, 173);
    font-weight: 500;
}
/* education Container ends */

/* request Container starts */
.requests{
    /* background: linear-gradient(to bottom, #333333 50px, white 50px); */
    border: 2px solid lightgray;
    border-radius: 8px;
    width:200px;
    height:175px;
}
.topRequest{
    display:flex;
    justify-content:center;
    height:45px;
    color: white;
    background-color: #333333;
    padding: 1px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.topRequest p{
    flex:2;
    font-size: 14px;
}
#circleTwo{ 
    margin-right: 10px;
    color:black;
    padding: 3px 7px;
    border-radius: 50%;
    background-color:#9e9e9e;
}
.bottomRequest{

    padding:0 12px;
}
.col-2 img{
    margin-right: 10px;
    border-radius: 50%;
}
.row{
    display:flex;
    align-items:center;
}
.col-2 p{
    display:flex;
    align-items:center;
}
.col-2{
    flex: 2;

}
/* request container ends */

/* connect container starts */
.connections{
    margin-top: 50px;
    border: 2px solid lightgray;
    border-radius: 8px;
    height:300px;
    width:200px;
}
.topConnections{
    display:flex;
    justify-content:center;
    height:45px;
    color: white;
    background-color: #333333;
    padding: 1px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.topConnections p{
    font-size: 14px;
}
.bottomConnections{
    padding:5px 12px;
}
.bottomConnections p{
    display:flex;
    align-items: center;
}
.bottomConnections img{
    margin-right:10px;
    border-radius: 50%;
}
.borderForBottom{
    border-top: 2px solid lightgray;
    padding: 10px 12px;
}
.borderForBottom a{
    
    color:cornflowerblue;
}
/* connect container ends */