.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    margin: 15px 0;
    height: 150px;
    background-color: green;
}
.side-nav {
    vertical-align:top;
    height: 300px;
    width: 200px;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
    background-color: blue;
}
.main {
    vertical-align:top;
    padding:15px 20px;
    display: inline-block;
    height: 400px;
    width: 700px;
    background-color: red;
}
.sub-content {
    text-align: center;
    display:inline-block;
    margin:0 5px;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    margin:20px 5px;
    height: 120px;
    width: 660px;
    background-color: purple;
}

html{
    background-color: silver;
}