html{
    font-family: 'Roboto', sans-serif;
}
li{
    display: inline-block;
    font-weight: 200;
    font-size: 13px;
    margin: 0 8px;
}
.active{
    font-weight: 500;
}
a{
    text-decoration: none;
    color:white;
}
.nav-title{
    font-size:25px;
    font-weight: 600;
}
.nav{
    border-radius: 8px;
    color:white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 15px;
    background-color: rgba(5, 5, 5, 0.39);
}

.btn{
    background-color: aqua;
    color:white;
    border-radius:  8px;
    padding: 5px 8px;
    box-shadow: 3px 3px 5px 1px black;
}